
pre {
  border: inherit;
  border-radius: inherit;
  color: inherit;
  background-color: inherit;
  padding: 0;
  margin: 0;
}

.form-group {

}

.color-controls-panel {
  padding: 0px;
}

.color-controls-panel li.padded {
  padding: 10px 8px 10px 8px;
}

.color-controls-panel li.padded .form-group {
  margin: 0;
}

.color-controls-panel ul li {

}

.code-panel {
  padding: 0;
}

.color-group {
  margin: 0;
}

.side-label {
  display: block;
  width: 100%;
  padding: 5px;
  float: left;
  margin: 0;
  border-bottom: 1px solid rgba(0,0,0,0.05);
}

.color-group label {
  display: block;
  text-transform: lowercase;
  background-color: rgba(0,0,0,0.07);
  width: 100%;
  padding: 5px;
  float: left;
  margin: 0;
  border-bottom: 1px solid rgba(0,0,0,0.05);
}

#action-bar {
}


label {
  font-weight: normal;
}

#modeline {
  padding: 1px 0 0 0;
  margin: 0 0 0 -5px;
}

#modeline-text {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
}

#prompt {
  padding: 3px 0px 2px 5px;
  margin: 0 0 0 -5px;
  border: none;
}

.navbar-brand {
  font-size: 23pt;
  text-transform: uppercase;
  font-family: 'Oswald';
  color: white !important;
}

.navbar-inverse {
  background-color: #0F1411 !important;
}

#code-sample {
  border-left: 5px solid;
  padding: 0;
}

.sp-replacer {
  padding: 0;
  border: none !important;
  float: right;
  margin-top: -28px;
  display: inline;
}

.sp-preview {
  width: 40px;
  height: 23px;
  border-radius: 23px;
  border: none;
}
.sp-preview-inner {
  border-radius: 23px;
  border: 1px solid rgba(128,128,128,0.5);
}

.sp-container {
}

.sp-button-container {
  margin-top: 6px;
}

button.sp-cancel {
  background-image: linear-gradient(#FF5454, #710000);
  color: white !important;
  text-shadow: 0 1px 3px rgba(0,0,0,0.3);
  text-decoration: none !important;
}

button.sp-cancel:hover {
  text-decoration: none !important;
}

.user-theme-removal-icon {
  top: 4px;
  right: -5px;
  color: darkred;
  float: right;
  cursor: arrow;
}

#user-themes li {
}

#config pre {
  background-color: rgba(0,0,0,0.1);
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 8px;
}