<div class="msg col-sm-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      Theme Code
    </div>
    <div class="panel-body">
      <p>Copy this into <code>.emacs.d/{{name}}-theme.el</code></p>
      <pre>{{{config}}}</pre>
      <p>and put the following in your
        <code>~/.emacs</code> or <code>~/.emacs.d/init.el</code>
      </p>
      <p>
        <pre>(load-theme '{{name}} t)</pre>
      </p>
      <p>Use <code>C-x C-e</code> To load the theme straight away</p>
    </div>
  </div>
</div>
