!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:charset => "utf-8"}/
    %title Emacs Theme Editor
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}
    %link{:href => "//fonts.googleapis.com/css?family=Oswald", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "./css/styles.css", :rel => "stylesheet"}
    %link{:href => "./css/github.css", :rel => "stylesheet"}
    %link{:href => "./css/spectrum.css", :rel => "stylesheet"}
    %link{:href => "./css/themes.css", :rel => "stylesheet"}
    /[if lt IE 9]
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  %body
    %div#github-banner
      %a{:href => "https://github.com/emacsfodder/emacs-theme-editor"} Fork me on GitHub
    / Header
    #top-nav.navbar.navbar-inverse.navbar-static-top
      .container-fluid
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "#"} Emacs Theme Editor
      / /container
    / /Header
    / Main
    .container-fluid
      .row
        .col-sm-3
          .panel.panel-default
            / Left column
            .panel-heading
              .form-group
                %label{:for => "theme-name"} Theme name
                %input#theme-name.form-control{:placeholder => "Theme name", :type => "text"}/
            .panel-body.color-controls-panel
              %ul#face-list.list-unstyled.collapse.in
              %ul.list-unstyled.collapse.in

                %li
                  .side-label
                    #action-bar.btn-group{:role => "group", "aria-label" => "actions"}
                      %button#local-storage.btn.btn-lg.btn-default{:onclick => "saveToLocalStorage()", "data-toggle" => "tooltip", :title => "Save to local storage"}
                        %span.glyphicon.glyphicon-plus
                      %button#generate.btn.btn-lg.btn-default{"data-toggle" => "tooltip", :title => "Generate EmacsLisp for download or copy"}
                        %span.glyphicon.glyphicon-floppy-save
                      %button#load.btn.btn-lg.btn-default{"data-toggle" => "tooltip", :title => "Import a theme", :disabled => "disabled"}
                        %span.glyphicon.glyphicon-floppy-open
                %li
                  .side-label
                    #user-themes
                %li.hidden
                  .form-group.side-label
                    %label{:for => "import_theme"} Import theme
                    %input#import_theme.btn{:name => "import_theme", :onchange => "importThemeHandler(event)", :type => "file"}/

        / /Left column
        .col-sm-9
          / right panel
          .row
            .panel.panel-default
              .panel-heading
                #theme-selector
              .panel-body.code-panel
                #code-sample.fringe.default
          / /right panel
      #theme-generated.row
    / /Main
    %footer.text-center
      %small Emacs theme editor Licenced under GNU/GPL2 - Jason Milkins 2015(c) - Javascript / modern browser required.
    / script references
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"}
    %script{:src => "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"}
    %script{:src => "//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js"}
    %script{:src => "//cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.0/handlebars.min.js"}
    %script{:src => "//cdn.rawgit.com/cferdinandi/smooth-scroll/master/dist/js/smooth-scroll.min.js"}
    %script{:src => "//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"}
    %script{:src => "./js/lib/spectrum.js"}
    %script{:src => "./js/themes.js"}
