!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:charset => "utf-8"}/
    %title Emacs Theme Editor
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Oswald", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "./css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "./css/styles.css", :rel => "stylesheet"}/
    %link{:href => "./css/github.css", :rel => "stylesheet"}/
    %link{:href => "./css/spectrum.css", :rel => "stylesheet"}/
    %link{:href => "./css/themes.css", :rel => "stylesheet"}/
    /[if lt IE 9]
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  %body
    / Header
    #top-nav.navbar.navbar-inverse.navbar-static-top
      .container-fluid
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "#"} Emacs Theme Editor
      / /container
    / /Header
    / Main
    .container-fluid
      .row
        .col-sm-3
          .panel.panel-default
            / Left column
            .panel-heading
              .form-group
                %label{:for => "configname"} Theme name
                %input#configname.form-control{:placeholder => "Theme name", :type => "text"}/
            .panel-body.color-controls-panel
              %ul#face-list.list-unstyled.collapse.in
              %ul.list-unstyled.collapse.in
                %li
                  .form-group.side-label
                    %label{:for => "deftheme"} Emacs 24 deftheme
                    %input#deftheme{:checked => "true", :name => "deftheme", :type => "checkbox", :value => "deftheme"}/

                %li
                  .side-label
                    #action-bar.btn-group{:role => "group", "aria-label" => "actions"}
                      %button#local-storage.btn.btn-lg.btn-default{:onclick => "saveToLocalStorage()"}
                        %span.glyphicon.glyphicon-plus
                      %button#generate.btn.btn-lg.btn-default
                        %span.glyphicon.glyphicon-floppy-save
                      %button#load.btn.btn-lg.btn-default
                        %span.glyphicon.glyphicon-floppy-open
                %li
                  .side-label
                    #user-themes
                %li.hidden
                  .form-group.side-label
                    %label{:for => "import_theme"} Import theme
                    %input#import_theme.btn{:name => "import_theme", :onchange => "importThemeHandler(event)", :type => "file"}/
        / /Left column
        .col-sm-9
          / right panel
          .row
            .panel.panel-default
              .panel-heading
                #theme-selector
              .panel-body.code-panel
                #code-sample
          / /right panel
      #config.row
    / /Main
    %footer.text-center
      %small Emacs theme editor Licenced under GNU/GPL2
      %br/
      %small Better believe I need Javascript enabled baby!
    / script references
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"}
    %script{:src => "./js/bootstrap.min.js"}
    %script{:src => "./js/highlight.pack.js"}
    %script{:src => "./js/lodash.js"}
    %script{:src => "./js/handlebars-v3.0.0.js"}
    %script{:src => "./js/spectrum.js"}
    %script{:src => "./js/themes.js"}
