<div class="msg col-sm-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      Theme Code
    </div>
    <div class="panel-body">
      <p>
        You'll need
        <a href="http://www.nongnu.org/color-theme/">color-theme.el</a>
        installed.
      </p>
      <p>
        Copy this theme and put it into a file on your emacs load-path
        or directly in your .emacs
      </p>
      <pre>{{{generated}}}</pre>
      <p>and put this into your <code>~/.emacs</code>:</p>
      <p>
        <pre>(require 'color-theme)
          (color-theme-initialize) ({{name}})</pre>
      </p>
      <p>and you're done.</p>
    </div>
  </div>
</div>
