<div class="btn-group" role="group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    My Saved Themes
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    {{#each userThemes}}
      <li>
        <a role="button" href="javascript:setTheme(userThemes['{{@key}}'], '{{@key}}'.toLowerCase())">{{@key}}
          <span class="user-theme-removal-icon glyphicon glyphicon-remove-circle" onclick="removeTheme('{{@key}}')"></span>
        </a>
      </li>
    {{/each}}
  </ul>
</div>
